*{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-family: 'Libre Baskerville';
    
}
header{
    width: 100vw;
    height: 15vh;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    margin-bottom: 20px;
    position: relative;
    z-index: 1000;
}
.logo{
    padding: 15px;
    font-size: 3vw;
}
.goback{
    padding: 15px;
    font-size: 3vw;
    display: flex;
}
.goback-text a  {
    color: white;
    text-decoration: none;
}

.left{
    position: fixed;
    top: 0vh;
    left: 0vw;
    width: 30vw;
    height: 100vh;
    color: black;
    display: flex;
    font-weight: bold;
    background-color: rgb(224, 224, 224)
}
.details{

    padding-top: 225px;
    padding-left: 25px;
    
}
.name article,.email article, .pro article{
    font-size: 1.2em;
}
.name p, .email p, .pro p{
    font-size: 1.5em;
}

.right{
    width: 70vw;
    float: right;
    /* padding-left: 20px; */
}

.block1{
    width: 95%;
    /* height: 60vh; */
    margin: auto;
    border: 2px solid grey;
    border-radius: 12px;
    margin-bottom: 20px;
    margin-top: 20px;
    display: flex;
}
.part1{
    width: 65%; 
}
.part2{
    width: 35%;
}
.company_name{
    font-size: 2em;
    font-weight: bolder;
    padding-left: 20px;
}
.post{
    font-size: 2em;
    font-weight: bold;
    padding-left: 20px;
    padding-top: 10px;
}
.job_des{
    font-size: 3em;
    font-weight: 800;
    padding: 10px ;
}
.part21{
    height: 50%;
    display: flex;
    justify-content: center;
    align-items:center ;
    text-align: center;
    font-size: 2em;
    font-weight: bolder;
}
.part22{
    height: 50%;
    display: flex;
    justify-content: center;
    align-items:center ;
    text-align: center;
    font-size: 1.7em;
    font-weight: bolder;
}
.part22 p {
    background-color: black;
    color: white;
    padding: 20px;
    border-radius: 12px;
    cursor: pointer;
}
.somewhat{
    padding: 15px;
    border-radius: 12px;
    font-size: 75%;
}