<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AddJob</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/add_job.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <div class="logo">Find Your Job</div>
        <div class="goback">
            <div class="goback-logo">
                <img src="https://img.icons8.com/material-outlined/24/FFFFFF/double-left.png" />
            </div>
            <div class="goback-text">
                <a href="{{url_for('home')}}">Go back</a>
            </div>
        </div>
    </header>
    <main>
        <div class="left">
            <div class="details">
                <div class="name">
                    <article>Username:-</article>
                    <p>{{userName}}</p>
                </div>
                <div class="email">
                    <article>Company Name:-</article>
                    <p>{{name}}</p>
                </div>
                <div class="pro">
                    <article>Name:-</article>
                    <p>{{email}}</p>
                </div>
            </div>
        </div>
    </main>
    <div class="right">
        <form class="form" method="post">
            <label for="cname" class="right_form">Company Name:</label>
            <input type="text" class="txt" id="cname" name="compname" placeholder="Enter Company Name" required value="{{name}}">

            <label for="cemail" class="right_form">Company Email:</label>
            <input type="email" class="txt" id="cemail" name="compemail" placeholder="example@domain.com" required value="{{email}}">
            <br>

            <label for="descrip" class="right_form">Job Description:</label>
            <input type="text" class="txt" id="descrip" name="description" placeholder="Enter Description" required>

            <label for="keyword" class="right_form">Keyword:</label>
            <input type="text" class="txt" id="keyword" name="keyword" placeholder= "Enter Designation" required>

            <br>

            <label for="loc" class="right_form">Location:</label>
            <input type="text" class="txt" id="loc" name="location" placeholder="Enter Address" required>
            
            <label for="we" class="right_form">Work Experience:</label>
            <input type="number" class="txt" id="we" name="workexp" placeholder="Enter In Months" required>

            <br>

            <label for="sal" class="right_form"> Annual Salary:</label>
            <input type="text" class="txt" id="sal" name="salary" placeholder="Enter Annual Salary" required>

            <label for="indus" class="right_form">Skill</label>
            <select name="skills">  
                <option value="c">c</option>  
                <option value="c++">c++</option> 
                <option value="c#">c#</option>
                <option value="python">python</option>   
                <option value="java">java</option>  
                <option value="javascript">javascript</option> 
                <option value="sql">sql</option>  
                <option value="html,css">html,css</option>  
                </select>

            <br>

            <div class="btn">
                <input type="reset" placeholder="Reset">
                <input type="submit" placeholder="Create">
            </div>
        </form>
    </div>
</body>

</html>
