<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find_my_job</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/hr_seeker.css')}}">
</head>
<body>
    <header>
        <div class="logo">
            Find Your Job
        </div>
        <div class="goback">
            <div class="goback-logo">
                <img src="https://img.icons8.com/material-outlined/24/FFFFFF/double-left.png" />
            </div>
            <div class="goback-text">
                <a href="{{ url_for('home')}}">Go back</a>
            </div>
        </div>
    </header>
    <main>
        
           
        
        <div class="form_detail">
            <form action=""  method="post" class="form">
                <p>Username</p>
                <input class="inputs" type="text" name='username' placeholder="enter a username"><br>
                <p>Company's Name</p>
                <input class="inputs" type="text" name='companyName' placeholder="Company's Name"><br>
                <p>Email</p>
                <input class="inputs" type="email" name="companyEmail" id="" placeholder="Professional Email"><br>
                <p>City</p>
                <input class="inputs" type="text" name='companyCity' placeholder="Workplace city"><br>
                <p>Password</p>
                <input class="inputs" type="text" placeholder="Password"><br>
                <br>
                <p>Re-Enter Password</p>
                <input class="inputs" type="text" name='password' placeholder="Retype Password"><br>

                <button>Submit</button><br>

                <a href="{{url_for('company_login')}}">Already Have an account?</a>
            </form>
        </div>
    </main>

</body>
</html>
