<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>I am the King</title>
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/job_giver.css')}}" />
</head>

<body>
    <header>
        <div class="logo">Find Your Job</div>
        <div class="goback">
            <div class="goback-logo">
                <img src="https://img.icons8.com/material-outlined/24/FFFFFF/double-left.png" />
            </div>
            <div class="goback-text">
                <a href="{{url_for('home')}}">Go back</a>
            </div>
        </div>
    </header>
    <main>
        <div class="left">
            <div class="details">
                <div class="name">
                    <article>Company Name:-</article>
                    <p>{{data[1]}}</p>
                </div>
                <div class="email">
                    <article>Email:-</article>
                    <p>{{data[2]}}</p>
                </div>
                <div class="pro">
                    <article>Location:-</article>
                    <p>{{data[3]}}</p>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="suchbhi">

                <div class="buttons" type="submit" value="add" >
                    <a href="{{url_for('add_job')}}">
                        Add Opening
                    </a>
                </div>
            </div>
            <!-- <div class="showme">
                
                    <input type="text" placeholder="Enter the position of Opening">
                    <img src="https://img.icons8.com/material-sharp/24/000000/search.png"/>
                
            </div> -->
            <form action="" method="post">
                {% for job in alljobs %}
            <div class="block1">
                <div class="part1">
                    <p>{{job[1]}}</p>
                </div>
                <div class="hidden">
                    <input hidden type="text" name="action" value="{{job[0]}}">
                </div>
                <div class="part2">
                    <input class="somewhat" type="submit"  value="Check Applications">
                    <p>Delete</p>
                </div>
            </div>
            {% endfor %}
        </form>
        </div>
    </main>
    <script src="{{url_for('static', filename = 'js/form.js')}}"></script>
</body>

</html>