<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>I am the King</title>
    <link rel="stylesheet" href="/css/job_giver.css" />
</head>

<body>
    <header>
        <div class="logo">Find Your Job</div>
        <div class="goback">
            <div class="goback-logo">
                <img src="https://img.icons8.com/material-outlined/24/FFFFFF/double-left.png" />
            </div>
            <div class="goback-text">
                <a href="home.html">Go back</a>
            </div>
        </div>
    </header>
    <main>
        <div class="left">
            <div class="details">
                <div class="name">
                    <article>Your Name:-</article>
                    <p>Pratik Agnihotri</p>
                </div>
                <div class="email">
                    <article>Email:-</article>
                    <p>Pratikagnihotri1234@gmail.com</p>
                </div>
                <div class="pro">
                    <article>Your Profession:-</article>
                    <p>Web developer</p>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="buttons">
                <p>
                    Add Opening
                </p>
            </div>
            <div class="showme">
                <form action="">
                    <input type="text" placeholder="Enter the position of Opening">
                    <img src="https://img.icons8.com/material-sharp/24/000000/search.png"/>
                </form>
            </div>
            <div class="block1">
                <div class="part1">
                    <p>Web Developer</p>
                </div>
                <div class="part2">
                    <p>Check Applications</p>
                    <p>Delete</p>
                </div>
            </div>
            <div class="block1">
                <div class="part1">
                    <p>Web Developer</p>
                </div>
                <div class="part2">
                    <p>Check Applications</p>
                    <p>Delete</p>
                </div>
            </div>
            <div class="block1">
                <div class="part1">
                    <p>Web Developer</p>
                </div>
                <div class="part2">
                    <p>Check Applications</p>
                    <p>Delete</p>
                </div>
            </div>
            <div class="block1">
                <div class="part1">
                    <p>Web Developer</p>
                </div>
                <div class="part2">
                    <p>Check Applications</p>
                    <p>Delete</p>
                </div>
            </div>
            <div class="block1">
                <div class="part1">
                    <p>Web Developer</p>
                </div>
                <div class="part2">
                    <p>Check Applications</p>
                    <p>Delete</p>
                </div>
            </div>
            <div class="block1">
                <div class="part1">
                    <p>Web Developer</p>
                </div>
                <div class="part2">
                    <p>Check Applications</p>
                    <p>Delete</p>
                </div>
            </div>
        </div>
    </main>
    <script src="\js\form.js"></script>
</body>

</html>