<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Up</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/signup.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <div class="logo">
            Find Your Job
        </div>
        <div class="goback">
            <div class="goback-logo">
                <img src="https://img.icons8.com/material-outlined/24/FFFFFF/double-left.png" />
            </div>
            <div class="goback-text">
                <a href="{{url_for('home')}}">Go back</a>
            </div>
        </div>
    </header>
    <main>
        <form class="form" method="post" action="">
            <p>Username</p>
            <input class="inputs" type="text" name="username" id="" placeholder="Enter your username"><br>
            <p>
                Password
            </p>
            <input class="inputs" type="password" name="password" placeholder="Enter the password"><br>
            <button>Login Up</button><br>
            <a href="{{url_for('seeker_signup')}}">Do Not Have an account?</a>
        </form>
    </main>
</body>

</html>