<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find_my_job</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/hr_seeker.css')}}">
</head>
<body>
    <header>
        <div class="logo">
            Find Your Job
        </div>
        <div class="goback">
            <div class="goback-logo">
                <img src="https://img.icons8.com/material-outlined/24/FFFFFF/double-left.png" />
            </div>
            <div class="goback-text">
                <a href="{{ url_for('home')}}">Go back</a>
            </div>
        </div>
    </header>
    <main>
        <div class="profile">
           <div class="recruiter">
            <p>
                <a href="{{url_for('company_signup')}}">Want to find someone?</a> 
            </p>
           </div>
           <div class="seeker">
            <p>
                <a href="{{url_for('home')}}"><b>Want to find new job?</b></a> 
            </p>
           </div>
        </div>
        <div class="form_detail" id="black">
            <form action="" class="form" id="black3" method="POST">
                <div id="black5">
                    <div>
                        <p>FULL NAME</p>
                        <input id="black2" class="inputs" type="text" name="fullname"placeholder="yourname surname" required><br>
                        <p>GENDER</p>
                        
                        <select name="gender">  
                            <option value="male">male</option>  
                            <option value="female">female</option>  
                        </select>
                        <p>DATE OF BIRTH</p>
                        <input id="black2" class="inputs" type="date" name="dob" placeholder="DOB" required><br>
                        <p>EDUCATION</p> 
                        <select name="education" class="inputs" >  
                            <option value="Course">Course</option>  
                            <option value="hsc">HSC</option> 
                            <option value="diploma">DIPLOMA</option>   
                            <option value="B.Tech">B.Tech</option>  
                            <option value="BCA">BCA</option> 
                            <option value="MCA">MCA</option>  
                            <option value="M.Tech">M.Tech</option>  
                            </select>

                        <p>SKILLS</p>
                        <select name="skills" class="inputs" >  
                            <option value="c">c</option>  
                            <option value="c++">c++</option> 
                            <option value="c#">c#</option>
                            <option value="python">python</option>   
                            <option value="java">java</option>  
                            <option value="javascript">javascript</option> 
                            <option value="sql">sql</option>  
                            <option value="html,css">html,css</option>  
                            </select>
                        
                        
                    </div>  
                    <div>
                        <!--<p>PHONE NO</p>
                        <input id="black2" class="inputs" type="NUMBER" name="phoneno" placeholder="Phone no" maxlength="10" required><br>!-->
                        <p>address</p>
                        <input id="black2" class="inputs" type="text" name="address" placeholder="your address" required><br>
                        
                        <p>Position you are applying for </p>
                        <input id="black2" class="inputs" type="text" name="post" placeholder="Designation" required><br>
                    </div>
                </div>
                <button id="black4">Submit</button>
            </form>
        </div>
    </main>
    
</body>
</html>
