<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find_my_job</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/hr_seeker.css')}}">
</head>
<body>
    <header>
        <div class="logo">
            Find Your Job
        </div>
        <div class="goback">
            <div class="goback-logo">
                <img src="https://img.icons8.com/material-outlined/24/FFFFFF/double-left.png" />
            </div>
            <div class="goback-text">
                <a href="{{ url_for('home')}}">Go back</a>
            </div>
        </div>
    </header>
    <main>
        <div class="profile">
           <div class="recruiter">
            <p>
                <a href="{{url_for('company_signup')}}">Want to find someone?</a> 
            </p>
           </div>
           <div class="seeker">
            <p>
                <a href="{{url_for('home')}}"><b>Want to find new job?</b></a> 
            </p>
           </div>
        </div>
        <div class="form_detail" id="black">
            <form action="" class="form" id="black3">
                <div id="black5">
                    <div>
                        <p>Your Name</p>
                        <input id="black2" class="inputs" type="text" placeholder="Name"><br>
                        <p>Current Company's Name</p>
                        <input id="black2" class="inputs" type="text" placeholder="Company's Name"><br>
                        <p>Email</p>
                        <input id="black2" class="inputs" type="email" name="" id=""
                            placeholder="Professional Email"><br>
                        <p>Post</p>
                        <input id="black2" class="inputs" type="text" placeholder="Designation"><br>
                    </div>
                    <div>
                        <p>Your Name</p>
                        <input id="black2" class="inputs" type="text" placeholder="Name"><br>
                        <p>Current Company's Name</p>
                        <input id="black2" class="inputs" type="text" placeholder="Company's Name"><br>
                        <p>Email</p>
                        <input id="black2" class="inputs" type="email" name="" id=""
                            placeholder="Professional Email"><br>
                        <p>Post</p>
                        <input id="black2" class="inputs" type="text" placeholder="Designation"><br>
                    </div>
                </div>
                <button id="black4">Submit</button>
            </form>
        </div>
    </main>
    
</body>
</html>
