<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find_my_job</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/hr_seeker.css')}}">
</head>
<body>
    <header>
        <div class="logo">
            Find Your Job
        </div>
        <div class="goback">
            <div class="goback-logo">
                <img src="https://img.icons8.com/material-outlined/24/FFFFFF/double-left.png" />
            </div>
            <div class="goback-text">
                <a href="{{ url_for('home')}}">Go back</a>
            </div>
        </div>
    </header>
    <main>
        <div class="profile">
           <div class="recruiter">
            <p>
                <a href="{{url_for('company_signup')}}">Want to find someone?</a> 
            </p>
           </div>
           <div class="seeker">
            <p>
                <a href="{{url_for('home')}}"><b>Want to find new job?</b></a> 
            </p>
           </div>
        </div>
        <div class="form_detail">
            <form action="" method="post" class="form">
                <p>Your Name</p>
                <input class="inputs" type="text" name="fullName" placeholder="Name"><br>
                <p>Current Company's Name</p>
                <input class="inputs" type="text" name="companyName" placeholder="Company's Name"><br>
                <p>Post</p>
                <input class="inputs" type="text" name="designation" placeholder="Current Job Designation"><br>
                <p>Experience</p>
                <input type="inputs" type="number" name="experience" placeholder="Experience in months">
                <button>Submit</button>
            </form>
        </div>
    </main>
    
</body>
</html>